*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

}
.cont{
    height: 50%;
    width: 70%;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.name{
    font-weight: 300;
    font-size: xx-large;
    margin: 10px;
}
.shape{
    margin: 10px;
    padding: 5px 15px;
    font-size: large;
}